doctype html
html
  head
    title satish Dance Academy
    block scripts
    block style

  body
    nav#navbar
      ul
        li
          div#logo
            img(src="/static/img/1.png" alt="Logo")
            | HDA
        li
          a(href="/") Home
        li
          a(href="/about") About
        li
          a(href="/services") Services
        li
          a(href="/class-info") Class Info
        li
          a(href="/contact") Contact Us

    block content

    footer#footer
      | Copyright © 2025 | All Rights Reserved
